/* ---- VARIABLES ----------------------------------------- */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --hover-btn-color: #188ce8;
  --dark-bg-color: #2f303a;
  --portfolio-btn-color: #f5f4fa;
  --icon-primary-color: #afb1b8;
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);

  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---- COMMON PROPERTIES --------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.image {
  display: block;
}

/* ---- HEADER -------------------------------------------- */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 50px;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}

.header-logo > span {
  color: var(--black-text-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link.current::after {
  display: block;
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
}

.contact-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ---- HERO SECTION -------------------------------------- */

.hero {
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin: 0 auto 40px;
  width: 696px;
}

.hero-btn {
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}

/* ---- FEATURES SECTION ---------------------------------- */

.features.section {
  padding-bottom: 0;
}

.features-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-list {
  display: flex;
  margin-right: -30px;
}

.features-item {
  flex-basis: calc(100 / 4 - 30px);
  margin-right: 30px;
}

.features-text {
  line-height: 1.71;
}

/* ---- WHAT WE DO SECTION -------------------------------- */

.what-wedo-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.what-wedo-list {
  display: flex;
  margin-right: -30px;
}

.what-wedo-item {
  flex-basis: calc(100 / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.what-wedo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.what-wedo-overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* ---- OUR TEAM SECTION ---------------------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  margin-right: -30px;
}

.team-item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100 / 4 - 30px);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  color: var(--icon-primary-color);
  transition: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.team-social-icon {
  fill: currentColor;
}

/* ---- OUR CLIENTS SECTION ------------------------------- */

.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  color: var(--icon-primary-color);
  transition: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}

/* ---- FOOTER -------------------------------------------- */

.footer {
  background-color: var(--dark-bg-color);
  padding: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  width: calc(50% - 15px);
}

.footer-contact-column {
  margin-right: 70px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo > span {
  color: var(--white-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.footer-link:hover,
.footer-link:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-address-link {
  color: var(--white-text-color);
}

.footer-social-column {
  padding-top: 12px;
}

.footer-social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-bg-color);
  border-radius: 50%;
  color: var(--white-text-color);
  transition: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-right {
  width: calc(50% - 15px);
  padding-top: 12px;
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-contact-form {
  display: flex;
}

.footer-input-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text-color);
}

.footer-input-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn-submit {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border: none;
  padding: 13px 29px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.footer-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  margin-right: 10px;
}

.footer-btn-submit:hover,
.footer-btn-submit:focus {
  background-color: var(--hover-btn-color);
}

/* ==== PORTFOLIO PAGE ==================================== */

/* ---- PORTFOLIO SECTION --------------------------------- */

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--portfolio-btn-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100 / 3 - 30px);
  margin: 0 30px 30px 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-link-overlay,
.portfolio-link:focus .portfolio-link-overlay {
  transform: translateY(0);
}

.portfolio-link-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-link-overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.porfolio-item-label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-company-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-company-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* ==== MODAL WINDOW ==================================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.close-btn:hover .modal-close-icon,
.close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-label {
  font-size: 12px;
  line-height: 1.17em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  /* transition: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function); */
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  text-align: center;
  margin-bottom: 30px;
}

.modal-policy-check {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-check-icon {
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  background-image: url(../images/unchecked-icon.svg);
  transition: background-image;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.modal-policy-check:checked + .modal-check-icon {
  background-image: url(../images/checked-icon.svg);
}

.modal-policy-check:focus + .modal-check-icon {
  outline: 2px solid var(--accent-color);
}

.modal-policy-check:focus:checked + .modal-check-icon {
  outline: none;
}

.modal-policy-link {
  color: var(--accent-color);
}

.modal-policy-link:visited {
  color: var(--accent-color);
}
.modal-btn-submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  border: none;
  padding: 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.modal-btn-submit:hover {
  background-color: var(--hover-btn-color);
}

.modal-btn-submit:active {
  box-shadow: none;
}
